---

services:
  ddns:
    image: ddns-updater:latest
    container_name: ddns-updater
    restart: always
    networks:
      - web
    ports:
      - 80:80
    volumes:
      - ./ddns:/app/data

networks:
  web:
    external: false
