<!-- htmlhint doctype-first:false -->
{{ define "navbar" }}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="/img/logo.svg" alt="DDNS"></a>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-danger text-danger me-2" data-bs-toggle="modal" data-bs-target="#configModal">Config</button>
            <button type="button" class="btn btn-outline-success text-success" data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
        </div>
    </div>
</nav>
{{ end }}