<!-- htmlhint doctype-first:false -->
{{ define "navbar" }}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white text-center my-auto">
            IP-Address: {{.IPAddress}}
        </p>
        <div class="d-flex">
            <button
                type="button"
                class="btn btn-info me-2"
                data-bs-toggle="modal"
                data-bs-target="#logs-modal"
            >
                <i class="bi bi-journal-text"></i>
            </button>
            <button
                type="button"
                class="btn btn-danger me-2"
                data-bs-toggle="modal"
                data-bs-target="#config-modal"
            >
                <i class="bi bi-gear-wide-connected"></i>
            </button>
            <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#add-modal"
            >
                <i class="bi bi-plus-square"></i>
            </button>
        </div>
    </div>
</nav>
{{ end }}
